---
import Wrapper from "../components/wrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Wrapper>
    <section class="m-auto text-center">
      <h1 class="dark:text-white text-5xl font-semibold">404</h1>
      <p class="dark:text-white">Pagina niet gevonden</p>
      <a class="dark:text-orange-600 text-blue-600 underline font-semibold" href="/">Ga terug naar de kalender</a>
    </section>
  </Wrapper>
</Layout>
