---
import Layout from '../layouts/Layout.astro';

import ToggleTheme from '../components/toggle-theme';
import UpcomingRaceHero from '../components/upcoming-race-hero.astro';
import UpcomingRace from '../components/upcoming-race.astro';
import RestOfRaces from '../components/rest-of-races.astro';
import Footer from '../components/footer.astro';
import Intro from '../components/intro.astro';
import Wrapper from '../components/wrapper.astro';

import { getRaces } from '../api/get-races';

const { upcomingRace, restOfRaces, seasonYear } = await getRaces();
---

<Layout>
  <Wrapper>
    <Intro seasonYear={seasonYear}>
      <ToggleTheme client:only="preact" />
    </Intro>
    {
      upcomingRace ? (
        <>
          <UpcomingRaceHero upcomingRace={upcomingRace} />
          <UpcomingRace upcomingRace={upcomingRace} />
        </>
      ) : (
        <h2 class="text-2xl font-semibold dark:text-white">
          Bedankt voor het bezoeken! Tot het volgende seizoen in
          {new Date().getFullYear() + 1}!
        </h2>
      )
    }
  </Wrapper>

  <Wrapper>
    {restOfRaces?.length > 0 && <RestOfRaces restOfRaces={restOfRaces} />}
    <Footer />
  </Wrapper>
</Layout>
