<footer class="max-w-4xl m-auto p-5">
  <div class="flex flex-col gap-5 dark:text-white">
    <p class="text-center">
      ©{' '}
      <a
        href="https://twitter.com/thetimpeterson"
        target="_blank"
        rel="noreferrer"
      >
        <strong>Timothy Peterson</strong>
      </a>{' '}
      <span>{new Date().getFullYear()}</span>
    </p>

    <p class="text-center">
      F1 Racetijden worden verzameld op basis van openbaar beschikbare gegevens.
    </p>

    <p class="text-center">
      F1kalender.nl is openbaar en beschikbaar op
      <a
        href="https://github.com/tmrp/f1kalender.nl"
        target="_blank"
        rel="noreferrer"
        ><strong>GitHub</strong>.
      </a>
    </p>

    <p class="text-center">
      Formula One, Formula 1, F1 & Grand Prix zijn handelsmerken van Formula One
      Licensing BV.
    </p>
  </div>
</footer>
